html,
body,
#bubbles {
  height: 100%;
}

#bubbles {
  padding: 200px 0;
}

.bubble {
  width: 60px;
  height: 60px;
  background: #ffb200;
  border-radius: 200px;
  border: 2px solid black;
  -moz-border-radius: 200px;
  -webkit-border-radius: 200px;
  position: absolute;
}

.x1 {
  left: 200px;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  transform: scale(0.9);
  opacity: 1;
  -webkit-animation: moveclouds 25s linear infinite,
    sideWays 4s ease-in-out infinite alternate;
  -moz-animation: moveclouds 25s linear infinite,
    sideWays 4s ease-in-out infinite alternate;
  -o-animation: moveclouds 25s linear infinite,
    sideWays 4s ease-in-out infinite alternate;
}

.x2 {
  left: 400px;
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  transform: scale(0.6);
  opacity: 1;
  -webkit-animation: moveclouds 25s linear infinite,
    sideWays 5s ease-in-out infinite alternate;
  -moz-animation: moveclouds 25s linear infinite,
    sideWays 5s ease-in-out infinite alternate;
  -o-animation: moveclouds 25s linear infinite,
    sideWays 5s ease-in-out infinite alternate;
}

.x3 {
  left: 600px;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 1;
  -webkit-animation: moveclouds 22s linear infinite,
    sideWays 4s ease-in-out infinite alternate;
  -moz-animation: moveclouds 22s linear infinite,
    sideWays 4s ease-in-out infinite alternate;
  -o-animation: moveclouds 22s linear infinite,
    sideWays 4s ease-in-out infinite alternate;
}

.x4 {
  left: 800px;
  -webkit-transform: scale(0.75);
  -moz-transform: scale(0.75);
  transform: scale(0.75);
  opacity: 1;
  -webkit-animation: moveclouds 18s linear infinite,
    sideWays 4s ease-in-out infinite alternate;
  -moz-animation: moveclouds 18s linear infinite,
    sideWays 4s ease-in-out infinite alternate;
  -o-animation: moveclouds 18s linear infinite,
    sideWays 4s ease-in-out infinite alternate;
}

.x5 {
  left: 1000px;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 1;
  -webkit-animation: moveclouds 20s linear infinite,
    sideWays 4s ease-in-out infinite alternate;
  -moz-animation: moveclouds 20s linear infinite,
    sideWays 4s ease-in-out infinite alternate;
  -o-animation: moveclouds 20s linear infinite,
    sideWays 4s ease-in-out infinite alternate;
}

@keyframes moveclouds {
  0% {
    top: 700px;
  }

  100% {
    top: -500px;
  }
}

@keyframes sideWays {
  0% {
    margin-left: -50px;
  }

  100% {
    margin-left: 50px;
  }
}

@keyframes moveclouds {
  0% {
    top: 100px;
  }

  100% {
    top: -500px;
  }
}

@keyframes sideWays {
  0% {
    margin-left: -50px;
  }

  100% {
    margin-left: 50px;
  }
}

@keyframes moveclouds {
  0% {
    top: 700px;
  }

  100% {
    top: -500px;
  }
}

@keyframes sideWays {
  0% {
    margin-left: -50px;
  }

  100% {
    margin-left: 50px;
  }
}

.ant-carousel .slick-slide {
  text-align: center;
  height: 120px !important;
  width: 320px !important;
  line-height: 260px;
  background: white;
  overflow: hidden;
}

.ant-carousel .slick-slide img {
  color: white;
  min-width: 10vh;
  min-height: 10vh;
}

.ant-carousel .slick-slide h3 {
  color: red;
  width: 100%;
  height: 100%;
}

.module-border-wrap {
  position: absolute !important;
  background: linear-gradient(to right, red, purple);
  padding: 10px;
  width: 10vh;

}

.instagram {
  font-size: 40px;
  background: -moz-linear-gradient(top, #e72c83 0%, #a742c6 100%);
  background: -webkit-linear-gradient(top, #e72c83 0%, #a742c6 100%);
  background: linear-gradient(to bottom, #e72c83 0%, #a742c6 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}