html,
body,
#bubbles {
  height: 100%;

  background-image: -moz-linear-gradient(center bottom, rgb(14, 173, 173) 33%, rgb(0, 255, 255) 67%);
  padding: 2px;
}

#bubbles {
  padding: 200px 0;
}

.bubble {
  width: 90px;
  height: 90px;
  background: linear-gradient(63.74deg, rgb(0, 84, 253) -16.64%, rgb(255, 25, 247) 90%, rgb(255, 46, 93) 120%);

  border-radius: 200px;

  -moz-border-radius: 200px;
  -webkit-border-radius: 200px;
  position: absolute;
}


/* .x1 {
  width: 160px;
  height: 160px;
  background: linear-gradient(63.74deg, rgb(0, 84, 253) -16.64%, rgb(255, 25, 247) 90%, rgb(255, 46, 93) 120%);
  border-radius: 100%;
  animation: scaleIn 4s infinite cubic-bezier(.36, .11, .89, .32);


  position: absolute;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}


.x1::before {
  border-radius: 100%;
  content: '';
  background: linear-gradient(63.74deg, red -16.64%, green 90%, blue 120%);
  width: 120px;
  height: 120px;
  top: 18px;
  left: 18px;
  position: absolute;
  z-index: -1;
}

.x1::after {
  border-radius: 100%;
  content: '';
  z-index: -20;
  background-image: linear-gradient(to bottom, yellow 0%, yellow 100%);
  width: 50%;
  height: 50%;
  top: 37px;
  left: 38px;
  position: absolute;
  z-index: -1;
}

@keyframes scaleIn {
  from {
    transform: scale(.5, .5);
    opacity: .5;
  }

  to {
    transform: scale(2.5, 2.5);
    opacity: 0;
  }
}

.x1 {
  left: 200px;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 1;
  -webkit-animation: moveclouds 26s linear infinite, sideWays 4s ease-in-out infinite alternate;
  -moz-animation: moveclouds 26s linear infinite, sideWays 4s ease-in-out infinite alternate;
  -o-animation: moveclouds 26s linear infinite, sideWays 4s ease-in-out infinite alternate;
} */

.x2 {
  left: 400px;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 1;
  -webkit-animation: moveclouds 26s linear infinite, sideWays 4s ease-in-out infinite alternate;
  -moz-animation: moveclouds 26s linear infinite, sideWays 4s ease-in-out infinite alternate;
  -o-animation: moveclouds 26s linear infinite, sideWays 4s ease-in-out infinite alternate;
}

.x3 {
  left: 600px;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 1;
  -webkit-animation: moveclouds 24s linear infinite, sideWays 3s ease-in-out infinite alternate;
  -moz-animation: moveclouds 24s linear infinite, sideWays 3s ease-in-out infinite alternate;
  -o-animation: moveclouds 24s linear infinite, sideWays 3s ease-in-out infinite alternate;
}

.x4 {
  left: 800px;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 1;
  -webkit-animation: moveclouds 22s linear infinite, sideWays 2s ease-in-out infinite alternate;
  -moz-animation: moveclouds 22s linear infinite, sideWays 2s ease-in-out infinite alternate;
  -o-animation: moveclouds 22s linear infinite, sideWays 2s ease-in-out infinite alternate;
}

.x5 {
  left: 1000px;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 20;
  -webkit-animation: moveclouds 20s linear infinite, sideWays 1s ease-in-out infinite alternate;
  -moz-animation: moveclouds 20s linear infinite, sideWays 1s ease-in-out infinite alternate;
  -o-animation: moveclouds 20s linear infinite, sideWays 1s ease-in-out infinite alternate;
}

@keyframes moveclouds {
  0% {
    top: 700px;
  }

  100% {
    top: -1500px;
  }
}

@keyframes sideWays {
  0% {
    margin-left: 0px;
  }

  100% {
    margin-left: 30px;
  }
}

@keyframes moveclouds {
  0% {
    top: -100px;
  }

  100% {
    top: -500px;
  }
}

@keyframes sideWays {
  0% {
    margin-left: -20px;
  }

  100% {
    margin-left: 30px;
  }
}

@keyframes moveclouds {
  0% {
    top: 700px;
  }

  100% {
    top: -500px;
  }
}

@keyframes sideWays {
  0% {
    margin-left: -20px;
  }

  100% {
    margin-left: 30px;
  }
}

.ant-carousel .slick-slide {
  text-align: center;
  height: 120px !important;
  width: 320px !important;
  line-height: 260px;
  background: white;
  overflow: hidden;
}

.ant-carousel .slick-slide img {
  color: white;
  min-width: 10vh;
  min-height: 10vh;
}

.ant-carousel .slick-slide h3 {
  color: red;
  width: 100%;
  height: 100%;
}

.module-border-wrap {
  position: absolute !important;
  background: linear-gradient(to right, red, purple);
  padding: 10px;
  width: 10vh;
}


.module {
  background: #222;
  color: white;
  padding: 2rem;
}

.circle {
  border-radius: 50%;
  background: linear-gradient(63.74deg, rgb(0, 84, 253) -16.64%, rgb(255, 25, 247) 90%, rgb(255, 46, 93) 120%);
  width: 60px;
  height: 60px;
  position: absolute;
  opacity: 1;
  top: 13px;
  left: 13px;
  z-index: -2;
  animation: scaleIn 3s infinite cubic-bezier(.00, .00, .09, .05);

}

.item {
  z-index: 100;
  padding: 5px;
}

.item img {
  position: absolute;
  z-index: 100;
  width: 100px;
  top: -8px;
  left: -8px;
}

@keyframes scaleIn {
  from {
    transform: scale(1.5, 1.5);
    opacity: 0;
  }

  to {
    transform: scale(2, 2);
    opacity: .8;
  }
}



.c3 {
  animation-delay: 0s;
  z-index: -2;
}

/* 
.x2::after {
  border-radius: 100%;
  content: '';
  background: linear-gradient(63.74deg, red -16.64%, green 90%, blue 120%);
  width: 70px;
  height: 70px;
  top: 8px;
  left: 8px;
  position: absolute;
  opacity: 1;
  z-index: 1;
} */